
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  overflow: hidden;
}


.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  color: #fff;
  animation: fadeIn 0.8s ease-in-out;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fff;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 30px;
}


.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  outline: none;
  font-size: 16px;
}

.input-group label {
  position: absolute;
  top: 12px;
  left: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #00e5ff;
}

/* Botón */
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #0072ff, #00c6ff);
}

/* Mensaje de error */
#error-msg {
  color: #ff4444;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
